/* palette colori: 
baker's chocolate: #452212;
caramel: #A8572C;
negroni: #ECC194;
white: #FFFFFF;
*/

/* ICONE IMPORTATE */
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/share.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/shopping-cart.css');
@import url('https://unpkg.com/css.gg@2.0.0/icons/css/search.css');

@font-face {
    font-family: 'TAN-PEARL';
    src: url('TAN-PEARL.woff2') format('woff2'),
         url('TAN-PEARL.woff') format('woff'),
         url('TAN-PEARL.ttf') format('truetype'),
         url('TAN-PEARL.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.row-one-custom{
    background: linear-gradient(to bottom, #ECC194, #a8572c );
    height: 100vh;
}

.cerchio{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.ordine1{
    order: 1;
}
.ordine2{
    order: 2;
}
.ordine3{
    order: 3;
}
.ordine4{
    order: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-fluid {
    max-width: 340px;
    max-height: 420px;
    position: relative;
    top: 30px;
}
.space-for-p1{
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.p1-custom{
    font-size: 50px;
    color: #452212;
    font-family: 'TAN-PEARL', sans-serif;
    text-shadow: 3px 2px 2px white ;
    text-align: center;
    margin: 0;
}

.space-for-p2{
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.p2-custom{
    position: relative;
    font-size: 20px;
    color: white;
    text-shadow: 3px 2px 2px #452212 ;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* .row-two-custom{
    background: linear-gradient(to left, #A8572C, #ECC194);
    height: 50vh;
}

.navbar .container-fluid, .navbar-expand-lg .navbar-collapse, .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
}

.navbar{
    width: 100px;
    height: 100vh;
    align-items: flex-start;
}


.position-nav{
    position: relative;
    z-index: 99;
    background-color: #AD5E33;
}

.position-container{
    position: absolute;
    top: 0px;
}


.space-for-p2{
    width: 420px;
    height: fit-content;
    position: relative;
    left: 550px;
}

.p2-custom{
    position: relative;
    top: 150px;
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.cerchio{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #452212;
    color: #452212;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    position: relative;
    left: 80%;
    top: 100px;
}

.cerchio:hover{
    border: 1px solid white;
    color: white;
}

.anteprima{
    width: 90px;
    height: 40px;
    background-color: #A8572C;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 80%;
    top: 105px;
}

img {
    width: 50%;
    height: auto;
}


.icon {
    color: white;
    margin: 0 0 10px 15px;
} */
